* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#h1-box {
    margin: 0 auto;
    text-align: center;
    max-width: auto;       
}
h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 72px;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color:  #000000;
    display: inline-block;
    
}
#starting-conteiner {
    max-width: 568px;  
    margin-top: 37px;
    margin-left: 55px;
    background: #FFF;
}
#image {
    max-width: 568px;
    width: 100%;  
}
#stary-night {
    margin-top: 12px;
    max-width: 568px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
h2 {
    color: #000;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;  
}
#look-up-box {
    max-width: 568px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    display: inline-block;
}
#look-up {  
     color: #414651;
     font-family: Lato;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
}
span {
    display: inline-block;   
}
#ol-list {
    max-width: 568px;
    width: 100%;
    color: #155eef;
    padding-left: 24px;
    display: inline-block;        
}
a {
    text-decoration: none;
    color: #155eef;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
   
} 
#read-more-botton {
    margin-top: 32px;
    padding: 12px 32px;
    border: 2px solid #CEA201;
    background-color: #FFF;
    max-width: 177px;
    width: 100%;  
    justify-content: center;
    color: #CEA201;
    text-align: center;
    display: inline-block;   
}
#button {
    color: #CEA201;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
#final-box{
    margin-top: 70px;
    margin-left: 55px;
    max-width: 772px;
    width: 100%;
}
#h2-2 { 
    text-align: center;  
    color: #000;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
p {
    width: 722px;
    width: 100%;
    margin-top: 16px;  
    text-align: center;
    color: #414651;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}
#span-2 {
    display: inline-block;
}
h3 {
    max-width: 722px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #00C76E;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
#ol-2 {
    margin: 0 auto;
    max-width: 461px;
    width: 100%;
}
#li-2 {
    color: #FF5DA3;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
}
#image-2 {
    max-width: 200px;
    width: 100%;
    margin-top: 24px;
    background: url(<path-to-image>) l
}
#rectangle-container {
    margin-top: 24px;
    width: 100% 722px;
    padding: 16px;
    border: 6px solid #C11574;
    background: #FFDEF0;

}
#rectangle-box {
    max-width: 690px;
    width: 100%;
}
#paragrap {
    max-width: 690px;
    width: 100%;
    color: #414651;
    margin-bottom: 16px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}
#rectangle-div-1 {
    max-width: 435px;
    width: 100%;
}
#rectangle {
    background-color: #000;
    max-width: 16px;
    width: 100%;
    border-radius: 9999px;
}
#paragrap-1 {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin-top: 16px;
    margin-left: 12px;
    color: #C27512;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
#rectangle-div-2 {
    max-width: 435px;
    width: 100%;
}
#rectangle-2 {
    background-color: #000;
    max-width: 16px;
    width: 100%;
    border-radius: 9999px;
}
#paragrap-2 {
    display: inline-block;
    max-width: 399px;
    width: 100%;
    margin-top: 8px;
    margin-left: 12px;
    color: #C27512;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
#rectangle-div-3 {
    max-width: 690px;
    width: 100%;
}
#rectangle-3 {
    background-color: #000;
    max-width: 16px;
    width: 100%;
    border-radius: 9999px;
    vertical-align: middle;
}
#paragrap-3 {
    vertical-align: middle;
    display: inline-block;
    max-width: 440px;
    width: 100%;
    margin-top: 8px;
    margin-left: 12px;
    color: #C27512;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    vertical-align: middle;
}
#image-3 {
    max-width: 298.012px;
    width: 100%;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-top: 24px;
    margin-bottom: 24px;
}
#see-more-box {
    text-align: right;
    
}
#see-more-link {
    color: #00D4BC;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font; 
}
